body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.navbar {
  z-index: 1;
  background:url(img/BackGround.png);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Background */
.fundo {
  background:url();
  height: 100vh;
  width: 100%;
  z-index: 0;
}

#principal{
    background-color: #ffffff;
    padding-bottom: 100px;
    background: url(img/BackGround.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#STREET {
  background: url(img/StreetGround.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#LUXURY {
  background: url(img/LUXURYGround.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#BUBBEGUM {
  background: url(img/BUBBLEGUMGround.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#KOREAN {
  background: url(img/KOREANGround.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/*Icons da NavBar*/
.icons {
  max-width: 40px;
  width: 40px;
  padding-left: 10px;
  padding-top: 6px;
}

.coraçao {
  padding-left: 10px;
}

/* Nav Bar */

/* Logo */
.logo {
  max-width: 5px;
  width: 135px;
  padding-bottom: 5px;
}

/*Barra de Pesquisa , imagem lupa e botão*/
.lupa {
  max-width: 20px;
}

/* Botão Lupa */
.btn-outline-light {
  border-color: #ffffff;
  background-color: #ffffff;
}
.barralupa {
  margin: 0.3em auto;
  height: 2em;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
  border-color: #ffffff;
  border-radius: 8px;
  align-content: center;
  align-items: center;
}

/* Botão de Pesquisa */
.barra {
  margin: 0.3em;
  height: 2em;
  font-size: 1rem;
  background-color:white;
  border:1px solid;
  min-width: 400px;
  border-radius: 8px;
  align-content: center;
  align-items: center;
}

.pesquisa {
  margin: auto;
}



/*Botão Login*/
.login{
  background-color:white;
}
.btn-login:hover {
  background: rgb(255, 0, 0);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

.btn-login:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
  text-decoration: none;
}

/* Class para colocar padding top*/
.fundo2 {
  padding-top: 65px;
}

/*Ancorrangem dos links*/

/*COLEÇÃO STREET STYLE*/
.coss {
  font-size: 1.2rem;
  margin: auto;
  text-decoration: none;
}

/*COLEÇÃO KOREAN AUTUMN*/
.cka {
  font-size: 1.2rem;
  padding-left: 5px;
  text-decoration: none;
}

/*COLEÇÃO LUXURY*/
.clu {
  font-size: 1.2rem;
  padding-left: 5px;
  text-decoration: none;
}

/*COLEÇÃO BUBBEGUM*/
.cbu {
  font-size: 1.2rem;
  padding-left: 5px;
  text-decoration: none;
}

/* Carrosel */
/*Parede do carrosel*/
.parede {
  max-width: 700px;
  align-content: center;
  align-items: center;
  margin: auto;
}


/* Descriçoes dos estilos */
.estilo div, .estilo div img{
  width: 50vw;
}

.estilo{
  display: flex;
  flex-wrap: nowrap;
}

.estilo-img{
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

.estilo-txt{
  margin: auto;
}
.estilo-txt hr{
  border: solid 1px black;
  width: 30rem;
  margin: auto;    
}
.sub-titulo {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


/* Classes para o final da one page */
.contato {
  width:50vw;
  height: 100vh;
  margin: auto;
  width: 30rem;   
  display: flex;
  flex-wrap: nowrap;
}
.sobre {
  width:51vw;
  height:100vh;
  margin: auto;
  width: 30rem;   
  display: flex;
  flex-wrap: nowrap;
}
