/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz@0,6..96;1,6..96&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');


Body {
    font-family: 'Bodoni Moda', serif;
    overflow-x: hidden;
    background: url(img/Background.png);
}


/* Nav Bar */
.navbar {
    z-index: 1;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Bodoni Moda', serif;
}

/* Elementos da Nav Bar */
/* Logo */
.logo {
    max-width: 5px;
    width: 135px;
    padding-bottom: 5px;
}

/*Barra de Pesquisa , imagem lupa e botão*/
.lupa {
    max-width: 20px;
}

/* Botão Lupa */
.btn-outline-light {
    border-color: #ffffff;
    background-color: #ffffff;
}

.barralupa {
    margin: 0.3em auto;
    height: 2em;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
    border-color: #ffffff;
    border-radius: 8px;
    align-content: center;
    align-items: center;
}

/* Botão de Pesquisa */
.barra {
    margin: 0.3em;
    height: 2em;
    font-size: 1rem;
    background-color: white;
    border: 1px solid;
    min-width: 400px;
    border-radius: 8px;
    align-content: center;
    align-items: center;
}

.pesquisa {
    margin: auto;
}

/* Fundo */
.fundo {
    padding-bottom: 100px;
}

.fundo2 {
    padding-top: 120px;
    display: flex;
    text-align: justify;
}

/* Class de titulos das descriçoes */
.title {
    font-family: 'Bodoni Moda', serif;
    font-weight: 600;
    text-align: center;
}

.sub-titulo {
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: 'Bodoni Moda', serif;
}

/* Carrosel */
/*Parede do carrosel*/
.parede {
    max-width: 800px;
    align-content: center;
    align-items: center;
    margin: auto;
    border-radius: 32px;
}

/* Imagens dos Carrosel*/
.caroseel-img {
    padding-top: 20px;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
}

/* Botoes de comprar */
.btncomprar {
    background-color: rgba(128, 128, 128, 0.445);
    text-decoration: none;
    border: 1.5px solid gray;
    border-radius: 6px;
}

.btncomprar:hover {
    background: rgb(67, 67, 67);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    text-decoration: none;
}

.btncomprar:hover:before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
    text-decoration: none;
}

.link {
    color: black;
    text-decoration: none;
}